<nav class="navbar navbar-light bg-light" aria-label="First navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="../home/">
      <img src="../../assets/favicon.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Film&History
      </a>

      <a class="nav-link" *ngIf="loginService.isUserLoggedIn()"  routerLink="/listFavouMovie" class="nav-link">Film preferiti</a>
      <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>

        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">GitHub Sviluppatori</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
          <li><a class="dropdown-item" href="https://github.com/AndreaOrru53" target="_blank"><img id="github" src="../../assets/github.ico">Andrea Orrù</a></li>
          <li><a class="dropdown-item" href="https://github.com/MICK-LAI" target="_blank"><img id="github" src="../../assets/github.ico">Michele Lai</a></li>
          <li><a class="dropdown-item" href="https://github.com/EdivanSteri" target="_blank"><img id="github" src="../../assets/github.ico">Edivan Steri</a></li>
          <li><a class="dropdown-item" href="https://github.com/stecerto" target="_blank"><img id="github" src="../../assets/github.ico">Stefano Certo</a></li>
        </ul>

    </div>
</nav>
