<app-navbar></app-navbar>
<div *ngIf="!notFoundComment">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div>
      <h2>All comments on the film<img src="../../assets/icons8-commenti.gif"></h2>
      <div class="image">
        <img src="https://image.tmdb.org/t/p/w300{{movieTMDB?.poster_path}}" class="card-img-top" alt={{movieTMDB?.title}}>
      </div>
        <div class="commenti">
          <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-primary" style="max-width: 350px; max-height: 446px;">
            <div *ngFor="let movie of commentsByMovieId; let i = index">    
              <div  class="commento">
                <div class="username">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg><font style="vertical-align: inherit;">{{arrayUsername[i]}}</font><br>
              </div>
                <font style="vertical-align: inherit;">{{movie?.comment}}</font>
              </div>
              <br>
            </div>
          </div>
      </div>
    </div> 
    <button class="btn btn-primary" (click)="goBack()">Torna alla lista film</button>
  </div>
</div>

