<div *ngIf="!isRegistered">
  <div  class="position-absolute top-50 start-50 translate-middle">
    <div class="form">
      <form #RegistrationForm="ngForm" (ngSubmit)="addUser(RegistrationForm)">
        <div class="mb-3">
          <label for="username" class="form-label">Create a Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" ngModel>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Create a Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Passowrd" ngModel>
          <div id="passwordHelp" class="form-text">We'll never share your password with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>    
  </div>
</div>


<div *ngIf="isRegistered">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
        
    </style>
      <div  class="position-absolute top-50 start-50 translate-middle">
        <div class="card">
          <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
          </div>
          <h1>Success</h1> 
          <p>Grazie per esserti registrato<br/> <a href="../login/">Clicca qui per fare il login</a></p>
        </div>
      </div> 
</div>
